{{page-title "Post"}}
<h1>{{title}}</h1>
<button {{on 'click' sayHello}}>Say Hello</button>
<p>{{body}}</p>
<p>
  <strong>Authors:</strong>
  {{#each authors as |author|}}
    {{author}},
  {{/each}}
</p>
<h4>Comments</h4>
<ul>
  {{#each comments as |comment|}}
    <li><strong>{{comment.name}}</strong> - {{comment.comment}}</li>
  {{/each}}
</ul>

<hr />
<h4>Add Comment</h4>
<form {{on 'submit' this.submitAction}}>
  <p>
    Name: {{input value=name}}
  </p>

  <p>
    Comment: {{textarea value=comment}}
  </p>
  <button type="submit">Submit</button>
</form>

{{outlet}}